@font-face{
    font-family: PTSans-Regular;
    src: url(../fonts/PTSans-Regular.ttf);
}
@font-face{
    font-family: Dancing;
    src: url(../fonts/Dancing.ttf)
}
*{
    font-family: PTSans-Regular;
    font-size: 12pt;
    margin: 0 auto;
}
/* Estilizando o menu*/
.logo .title{
    font-family:Dancing;
    font-size: 24pt;
    color: #606060;
    margin: 0;
    padding:5px;
}
.logo{
    display:flex;
    width: 58%;
}
.img_logo{
    width: 3em;
    height: 3em;
    margin: 0;
    padding:5px;
}
.menu_top{
    display: flex;

}
.menu .contanier{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border: 1px solid #eeeeee;
    font-weight:bold;
}
.menu_top ul li{
    list-style: none;
    padding: 20px 30px;
    display: inline-block;
    border-radius: 4px;
}
.menu_top ul li a{
    text-decoration: none;
    color: #606060;
}
.nav_links li:hover {
    background-color: #ff9900;
  }
  
.cadastroColmeia{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
   
}
/* Contaneir principal */
.contanier .principal{
    margin: 0 auto;
    width: 80%;
    margin-top: 1%;
    font-weight:bold;

}
.principal h2{
    text-align: center;
    margin-top: 1%;
    color: #606060;
    font-size: 18pt;
}

.cad_colmeia .principal{
    text-align: center;
    color: #606060;
    font-size: 18pt;
    
} 
.cad_colmeia{
    border-radius: 5px;
    padding: 20px;
    margin-top: 1%;
}
.cad_colmeia input[type=text], input[type=date],select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  .cad_colmeiainput [type="checkbox"]{
      border:1px solid #ffc107;
      border-radius: 0.2em;
      height: 1em;
      width: 1em;
      padding-left: 0.2em;
      padding-bottom: 0.3em;
      padding-right: 0.2em;

  }
  