@font-face{
    font-family: PTSans-Regular;
    src: url(../fonts/PTSans-Regular.ttf);
}
@font-face{
    font-family: Dancing;
    src: url(../fonts/Dancing.ttf)
}
*{
    font-family: PTSans-Regular;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}
/* Estilizando o menu*/
.logo .title{
    font-family:Dancing;
    font-size: 24pt;
    color: #606060;
    margin: 0;
    padding:5px;
}
.logo{
    display:flex;
    width: 58%;
    align-self: flex-end;
}
.img_logo{
    width: 3em;
    height: 3em;
    margin: 0;
    padding:5px;
}
.menu_top{
    display: flex;

}
.menu .contanier{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border: 1px solid #eeeeee;
    font-weight:bold;
}
.menu_top ul li{
    list-style: none;
    padding: 20px 30px;
    display: inline-block;
    border-radius: 4px;
}
.menu_top ul li a{
    text-decoration: none;
    color: #606060;
}
.menu_top ul li a:hover{
    color:#FFB300;
}
/* Menu Finalizado*/
.info_cadastro{
    width: 100%;
    text-align: center;
    margin-top: 1em;
    color:#606060;
    font-size: 18pt;

}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0;
}




.extracao{
    width: 55%;
    background-color: chartreuse;
}

.data{
    width: 35%;
    background-color: chocolate;
}

.responsavel{
    width: 95%;
    background-color: cornflowerblue;
}

.qtd_extraida{
    width: 45%;
    background-color: darkblue;
}

.cor{
    width: 45%;
    background-color: darkblue;
}
