@font-face{
    font-family: PTSans-Regular;
    src: url(../fonts/PTSans-Regular.ttf);
}
@font-face{
    font-family: Dancing;
    src: url(../fonts/Dancing.ttf)
}
*{
    font-family: PTSans-Regular;
    font-size: 12pt;
    margin: 0 auto;
}

.logomarca{
    width:38%;
    border: 1px solid #000000;
    height: 70px;
}
.logomarca h2{
    margin-left: 90px;
    margin-top: -50px;
    font-family:Dancing;
    font-size: 25pt;
    color: #ff9900;
}
.logo{
    width: 64px;
    height: 68px;
}

nav{
    height:70px;
    border:1px solid#ffc107;
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.nav_links{
    width:58%;
    height: 68px;
    border: 1px solid #000000;
}
.nav_links li{
    display: inline-block;
    padding: 0px 10px;
    height: 50px;
    border: 1px solid salmon;
    width: 11%;
    text-align: center;
    margin-top: 8px;
}
.nav_links  a{
    margin-top: 10px;
}