@font-face{
    font-family: PTSans-Regular;
    src: url(../fonts/PTSans-Regular.ttf);
}
*{
    font-family: PTSans-Regular;
    font-size: 12pt;
    border-radius: 4px;
    margin: 0 auto;
}

/* NAV BAR*/
 nav .log img{
  height: 5px;
  width: 5px;
}
ul{
    list-style-type: none;
    border-radius:6px;
    overflow: hidden;
}
li{
    float: right;
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}
li a:hover{
    background-color:#ffc107;
}
ul li{
    border-left:1px solid #ffc107;
}
nav{
    overflow: hidden;  
    background:#FFDEAD;
}

/* NAV BAR*/
hr{
    width: auto;
    margin: 0 auto;
    border: 0;
    height: 0;
    border-top: 1px solid #ffc107;   
    overflow: visible;
}
h1{
    text-align: center;
    font-size:20pt;
    color: #ffc107;
    font-weight: bold;
    font-family: Dancing;
    margin-top: 2%;
}
 input{
    width: 30%;
    padding: 10px 18px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ffc107;  
    margin-left: 12%;
}
.label{
    width: 30%;
    padding: 10px 18px;
    margin: 8px 0;
    margin-left: 12%;
}
