*{
    font-family: PTSans-Regular;
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #606060;

}

@font-face{
    font-family: PTSans-Regular;
    src: url(../fonts/PTSans-Regular.ttf);
}
@font-face{
    font-family: Dancing;
    src: url(../fonts/Dancing.ttf)
}
.honey-pot {
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
}
/* DIV */
.login{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    width: 40%;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
   font-family:Dancing;
   text-align: center;
   font-size: 25pt;
   color: #606060;
}
.logomarca{
    background-image: url('../img/favo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
    height: 100%;
}
.logomarca img{
    width: 100%;
    align-items: center;
    margin: 5% 0 0 2%;
}
.flex{
    display: flex;
}

.container {
    width: 100%;
    margin: 0 auto;
}
.form{
    width: 100%;
}
form input{
    margin-top: 2%;
    border: 1px solid #ffc107;
    width: 100%;
    padding:0.8em;
    border-radius: 5px;
}


.login-buttons{
    display: flex;
    justify-content: space-between;
}

.entrar,.cadastrar{
    border: 0;
    padding: 8px;
    width: 45%;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    background:#ffc107;
    font-weight: bold;
}
.cadastrar{
    background:#fafafa !important;
    color: #ffc107 !important;
    border:1px solid #ffc107;
}
.entrar:hover{
    background: #ff9900;
    color:#606060;
}    

.cadastrar:hover{
    background: #ff9900;
    color:#606060;
}    

.link{
    text-decoration: none;
    color: #606060;

}

/* Titulos das paginas*/
.titulos h3{
    text-align: center;
    align-items: center;
    margin-top: 1em;
    font-size: 18pt;
}
/* Tela Principal*/
    .principal{
        display: flex;
        justify-content:space-around;
        width: 95%;
        margin: 1em auto 0 auto;
        box-sizing: border-box;
        margin-top: 3em;
    }
    .informacoes_geral, .ultimas_colmeias_atualizadas, .ultimas_coletas_atualizadas{
        display: flex;
        width: 32.5%;
        margin-top: 1em;
        height: 450px;
    }

    .qtd_mel_produzido{
        display: flex;
        flex-direction:column;
        margin-top: 2em;
       
    }
    .qtd_litros{
        width: 100%;
    }
    .qtd_litros p{
        color: #000;
        margin-top: 2em;
        text-align: center;
    }
    .qtd_mel_produzido .litro{
        text-align: center;
        color: #795548;
        font-size: 20pt;
        font-style: initial;
    }
    .colmeias_coletas{
        display: flex;
        justify-content: space-between;
        flex-direction:row;
        margin-top: 5em;
    }
    .colmeias_cadastradas,.coletas_realizadas{
        display: flex;
        flex-direction: column;
        width: 48%;
        text-align: center;
        margin-top: 1em;
    }
    .colmeias_cadastradas p,.coletas_realizadas p{
        color: #000;
    }
    .colmeias,.coletas{
        text-align: center;
        color: #795548;
        font-size: 20pt;
        font-style: initial;
       }

       .ultimas_colmeias_atualizadas,.ultimas_coletas_atualizadas{
            display: flex;
            flex-direction: column;
            align-items: center;
       }
       .ultimas_colmeias_atualizadas p, .ultimas_coletas_atualizadas p{
            color: #000;
            text-align: center;
       }

       /* Butões Visualizar Mais Informações*/

       .mais_informacoes{
           width: 100%;
           display: flex;
           justify-content: flex-end;
       }

       .ver_mais_colmeias, .ver_mais_coletas{
           margin-right:1.3em;
           width: 40%;
           height: 40px;
           cursor: pointer;
           border-radius: 5px;
           background:#fafafa !important;
           border: 1px solid #ffc107;
       }

       .ver_mais_colmeias:hover{
           color: #ff9900;
       }
       .ver_mais_coletas:hover{
        color: #ff9900;
    }

/* Fim*/
@media(max-width:745px){
    .honey-pot {
        flex-direction: column;
    }    
    .login, .logomarca{
        width: 100%;
    }
}
 

