@font-face{
    font-family: PTSans-Regular;
    src: url(../fonts/PTSans-Regular.ttf);
}
*{
    font-family: PTSans-Regular;
    font-size: 12pt;
    border-radius: 4px;
}

/* NAV BAR*/
 nav .log img{
  height: 5px;
  width: 5px;
}
ul{
    list-style-type: none;
    border-radius:6px;
    overflow: hidden;
}
li{
    float: right;
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}
li a:hover{
    background-color:#ffc107;
}
ul li{
    border-left:1px solid #ffc107;
}
nav{
    overflow: hidden;  
    background:#FFDEAD;
}

/* NAV BAR*/
hr{
    width: auto;
    margin: 0 auto;
    border: 0;
    height: 0;
    border-top: 1px solid #ffc107;   
    overflow: visible;
}